:root{
    --color-brand-light:#819B57;
    --color-brand-dark:#465929;
    --primary-dark:#31261A;
    --primary-light:#FAF4EA;

}
/*Base*/
body{
    color: var(--primary-dark);
}
ul{
    list-style: none;
}
/*Buttons*/
.button{
    color: var(--primary-light);
    background: var(--color-brand-light);
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    cursor: pointer;
}

.button:hover{
    background-color: transparent;
    color: var(--color-brand-dark);
}
/*Links*/
.link{
    color: var(--primary-light);
}

.link:hover{
    color: var(--color-brand-light);
}
/*Hero section*/
.hero-title{
    color: var(--primary-light);
}

.hero-title .accent{
    color: var(--color-brand-light);
}
/*Advantages list*/
.advantages-list{
    color: var(--primary-light) ;
    background-color: var(--color-brand-light);
}

.section-title .accent{
    color: var(--color-brand-dark);
}