@import "./base";
@import "./utils/fonts";
@import "./utils/variables";
@import "./utils/utils";
@import "./utils/mixins";
@import "./components/buttons";
@import "./components/links";
@import "./components/header";
@import "./components/hero-section";
@import "./components/carousel-button";
@import "./layouts/advantages-section";
@import "./layouts/traditons-section";
@import "./layouts/chefs-section";
@import "./layouts/formats-section";
@import "./layouts/contact-section";
@import "./layouts/footer";

/*Modal*/
.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb( 0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}
.modal{
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--primary-light);
    border-radius: 32px;
    position: relative;
    overflow-y: auto;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-btn-close{
    position: absolute;
    top: 40px;
    right: 40px;
}

/*Form*/
.form-label{
    /*display: block;*/
    position: absolute;
    top: 16px;
    left: 42px;
    font-size: 16px;
    line-height: 1.1;


}
.form-input{
    padding: 16px 42px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
}
.form-input:focus{
    border-color: var(--color-brand-normal);
    outline: none;
}
.form-field{
    margin-bottom: 32px;
}
.form-button{
    display: block;
    margin: 0 auto 24px;
}
.forms-terms{
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
}
.form-termlink-link{
    color: var(--primary-dark);
    text-underline-offset: 2px;
}
.modal-title{
    color: var(--primary-dark);
    text-align: center;
    font-size: 64px;
    margin-bottom: 12px;
    padding:0;
}
