.carousel-button{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-dark);
  cursor: pointer;
}
.carousel-button:hover{
  background-color: var(--primary-dark);
  fill: var(--primary-light);
}
.carousel-button.next{
  transform: rotate(180deg);
}